/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body{
background-color:#9BF01B;
font-family:"Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
font-size:14pt;

}

#zone-branding-wrapper{
background-color:#493829;
}

#page-title {
	display: none;
	visibility: none;
}

h1, h2,
h1.site-name a.active {
	color: #FBB6A4 !important;
}

article#node-page-2 a {
	font-size: 300%;
	margin: 100px;
}

article#node-page-2 {
	text-align: center !important;
}

a[href="/?q=map-anon"],
a[href="/?q=user"],
h2 {
	color: #222 !important;
}